ul {
  list-style-type: none;
}

#sortable { 
  margin: 0; 
  padding: 0; 
  width: 60%; 
}

a {
  z-index: 5004;
}


li { 
  margin: 0 5px 5px 5px; 
  padding: 5px; 
  font-size: .85em; 
  height: 1.35em;  
}


.badge.alert-danger:hover {
  color: darkblue;
  cursor: pointer;
}
          

.btn-close.text-reset:hover {
  color: limegreen;
  cursor: pointer;
}


.btn-close.text-reset {
  content:"\e014";
}

#commit {
  z-index: 2005;
}

.btn.btn-primary:hover {
  background-color: limegreen;
}


.btn.btn-primary {
  top: 0;
  left: 0;
  cursor: pointer;
  /*padding: 10px 15px;*/
  border: none;
  z-index: 6; 
}



/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}


 body {
     background-color: #FAFAFA
 }

 .buttonbox {
     position: absolute;
     transform: translate(-50%, -50%)
 }



.spinner-button {
     border: 2px solid #000;
     display: inline-block;
     padding: 8px 20px 9px;
     font-size: 12px;
     color: #000;
     background-color: transparent
 }

 .btn-primary:disabled {
     color: #fff;
     background-color: #000;
     border-color: #000
 }

 .spinner-button:hover {
     background-color: #000;
     color: #fff
 }

 .spinner-button i {
     color: #fff
 }

 .spinner-button:hover i {
     color: #fff
 }

 .fa {
     color: #fff
 }

 .fa:hover {
     color: #fff
 }


#spinner { 
  visibility:hidden; 
} 


body.busy .spinner { 
  visibility:visible !important; 
}


.offcanvas {
  opacity: 80%;
}
